In [1]:
%%writefile requirements.txt
numpy
pandas==2.2.3
matplotlib==3.10.0

Overwriting requirements.txt

In [2]:
%pip install -r requirements.txt

Requirement already satisfied: numpy in ./venv/lib/python3.13/site-packages (from -r requirements.txt (line 1)) (2.3.3)
Requirement already satisfied: pandas==2.2.3 in ./venv/lib/python3.13/site-packages (from -r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: matplotlib==3.10.0 in ./venv/lib/python3.13/site-packages (from -r requirements.txt (line 3)) (3.10.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.13/site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.13/site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.13/site-packages (from pandas==2.2.3->-r requirements.txt (line 2)) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in ./venv/lib/python3.13/site-packages (from matplotlib==3.10.0->-r requirements.txt (line 3)) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python3.13/site-packages (from matplotlib==3.10.0->-r requirements.txt (line 3)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./venv/lib/python3.13/site-packages (from matplotlib==3.10.0->-r requirements.txt (line 3)) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./venv/lib/python3.13/site-packages (from matplotlib==3.10.0->-r requirements.txt (line 3)) (1.4.9)
Requirement already satisfied: packaging>=20.0 in ./venv/lib/python3.13/site-packages (from matplotlib==3.10.0->-r requirements.txt (line 3)) (25.0)
Requirement already satisfied: pillow>=8 in ./venv/lib/python3.13/site-packages (from matplotlib==3.10.0->-r requirements.txt (line 3)) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./venv/lib/python3.13/site-packages (from matplotlib==3.10.0->-r requirements.txt (line 3)) (3.2.5)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas==2.2.3->-r requirements.txt (line 2)) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

First, read in the csv files.

In [4]:
# TODO: Read in credit train and credit test csv
df2 = pd.read_csv("credit_test.csv")
df1 = pd.read_csv("credit_train.csv")

In [5]:
# TODO: Return the first 5 rows of the train dataframe
df1.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [6]:
# TODO: Return a summary of the train dataframe
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       100000 non-null  object
 1   Customer ID                   100000 non-null  object
 2   Loan Status                   100000 non-null  object
 3   Current Loan Amount           100000 non-null  float64
 4   Term                          100000 non-null  object
 5   Credit Score                  80846 non-null   float64
 6   Annual Income                 80846 non-null   float64
 7   Years in current job          95778 non-null   object
 8   Home Ownership                100000 non-null  object
 9   Purpose                       100000 non-null  object
 10  Monthly Debt                  100000 non-null  float64
 11  Years of Credit History       100000 non-null  float64
 12  Months since last delinquent  46859 non-null   float64
 13  Number of Open Accounts       100000 non-null  float64
 14  Number of Credit Problems     100000 non-null  float64
 15  Current Credit Balance        100000 non-null  float64
 16  Maximum Open Credit           99998 non-null   float64
 17  Bankruptcies                  99796 non-null   float64
 18  Tax Liens                     99990 non-null   float64
dtypes: float64(12), object(7)
memory usage: 14.6+ MB

In [7]:
#Drops duplicates and unnecessary columns
df1 = df1.drop_duplicates()
df1 = df1.drop(columns=['Loan ID', 'Customer ID'], axis=1)

Then, handle all null values.

In [8]:
# TODO: Check for missing values in the train dataframe (Hint: use isnull().sum())
df1.isnull().sum()

Loan Status                         1
Current Loan Amount                 1
Term                                1
Credit Score                    19155
Annual Income                   19155
Years in current job             3803
Home Ownership                      1
Purpose                             1
Monthly Debt                        1
Years of Credit History             1
Months since last delinquent    48338
Number of Open Accounts             1
Number of Credit Problems           1
Current Credit Balance              1
Maximum Open Credit                 3
Bankruptcies                      191
Tax Liens                          10
dtype: int64

In [9]:
# standardize nulls to np.nan, so pandas recognizes them as missing
df1.replace(['nan','NaN','NULL','',' '], np.nan, inplace=True)

# TODO: Impute missing values (Hint: Use fillna())
# Hint: you can use median, mode, mean, or a specific value to fill in missing values
df1['Current Loan Amount'].fillna(0, inplace=True)
df1['Years of Credit History'].fillna(df1['Years of Credit History'].median(), inplace=True)
df1['Credit Score'].fillna(df1['Credit Score'].median(), inplace=True)
df1['Annual Income'].fillna(df1['Annual Income'].median(), inplace=True)
df1['Years in current job'].fillna(df1['Years in current job'].mode()[0], inplace=True)
df1['Months since last delinquent'].fillna(df1['Months since last delinquent'].median(), inplace=True)

/var/folders/72/wyhp9lq90555g15fm2t545rh0000gn/T/ipykernel_17358/4180908666.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Current Loan Amount'].fillna(0, inplace=True)
/var/folders/72/wyhp9lq90555g15fm2t545rh0000gn/T/ipykernel_17358/4180908666.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Years of Credit History'].fillna(df1['Years of Credit History'].median(), inplace=True)
/var/folders/72/wyhp9lq90555g15fm2t545rh0000gn/T/ipykernel_17358/4180908666.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Credit Score'].fillna(df1['Credit Score'].median(), inplace=True)
/var/folders/72/wyhp9lq90555g15fm2t545rh0000gn/T/ipykernel_17358/4180908666.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Annual Income'].fillna(df1['Annual Income'].median(), inplace=True)
/var/folders/72/wyhp9lq90555g15fm2t545rh0000gn/T/ipykernel_17358/4180908666.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Years in current job'].fillna(df1['Years in current job'].mode()[0], inplace=True)
/var/folders/72/wyhp9lq90555g15fm2t545rh0000gn/T/ipykernel_17358/4180908666.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Months since last delinquent'].fillna(df1['Months since last delinquent'].median(), inplace=True)

In [10]:
# TODO: Check for missing values again to confirm they were filled
df1.isnull().sum()

Loan Status                       1
Current Loan Amount               0
Term                              1
Credit Score                      0
Annual Income                     0
Years in current job              0
Home Ownership                    1
Purpose                           1
Monthly Debt                      1
Years of Credit History           0
Months since last delinquent      0
Number of Open Accounts           1
Number of Credit Problems         1
Current Credit Balance            1
Maximum Open Credit               3
Bankruptcies                    191
Tax Liens                        10
dtype: int64

Feature Engineering

In [11]:
import re
import numpy as np
import pandas as pd


# 1a) Years in current job: extract numeric and bin
def extract_years(s):
    s = str(s)
    match = re.findall(r'\d+', s)
    if match:
        return int(match[0])
    return None

df1['Years in current job'] = df1['Years in current job'].apply(extract_years)

bins = [0, 2, 5, 10, float('inf')]
labels = ['0-2', '2-5', '5-10', '10+']
df1['Years in current job'] = pd.cut(df1['Years in current job'], bins=bins, labels=labels, right=False)

# 1b) Standardize Purpose values to the canonical list used in the reference
df1['Purpose'] = df1['Purpose'].replace({
    'Home Improvements':'Home Renovation / Improvement',
    'Debt Consolidation':'Debt Consolidation',
    'Buy House':'Home Purchase / Mortgage',
    'Business Loan':'Business / Startup Capital',
    'Buy a Car':'Car / Vehicle Purchase',
    'Take a Trip':'Vacation / Travel',
    'small_business':'Business / Startup Capital',
    'Medical Bills':'Medical Expenses',
    'wedding':'Wedding Expenses',
    'vacation':'Vacation / Travel',
    'Educational Expenses':'Education / Tuition Fees',
    'moving':'Moving / Relocation Costs',
    'other':'Other / Miscellaneous',
    'Other':'Other / Miscellaneous',
    'renewable_energy':'Buying Electronics / Appliances',
    'major_purchase':'Business / Startup Capital'
})

Then, encode the categorical data.

In [12]:
#Separate categorical and numerical columns
cat_list = df1.select_dtypes(include='object').columns.tolist()
num_list = df1.select_dtypes(exclude='object').columns.tolist()
print("Categorical:", cat_list)
print("Numerical:", num_list)

Categorical: ['Loan Status', 'Term', 'Home Ownership', 'Purpose']
Numerical: ['Current Loan Amount', 'Credit Score', 'Annual Income', 'Years in current job', 'Monthly Debt', 'Years of Credit History', 'Months since last delinquent', 'Number of Open Accounts', 'Number of Credit Problems', 'Current Credit Balance', 'Maximum Open Credit', 'Bankruptcies', 'Tax Liens']

In [13]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, OneHotEncoder

# 2a) Ordinal encoding for 'Years in current job'
od = OrdinalEncoder(categories=[['0-2', '2-5', '5-10', '10+']])
df1['Years in current job'] = od.fit_transform(df1[['Years in current job']])

# 2b) Label encode simple categories
le = LabelEncoder()
for col in ['Loan Status', 'Term', 'Home Ownership']:
    df1[col] = le.fit_transform(df1[col].fillna('Missing'))

# 2c) One-hot encode 'Purpose' 
# TODO: One-hot encode 'Purpose' (Hint: use OneHotEncoder from sklearn)
ohe = OneHotEncoder(sparse_output=False, drop='first')
purpose_encoded = ohe.fit_transform(df1[['Purpose']].fillna('Missing'))
purpose_df = pd.DataFrame(purpose_encoded, columns=ohe.get_feature_names_out(['Purpose']), index=df1.index)
df1 = pd.concat([df1.drop('Purpose', axis=1), purpose_df], axis=1)

Finally, create a train/test split.

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# TODO: Create feature matrix X and target vector y
X = df1.drop('Loan Status', axis=1)
y = df1['Loan Status']

# TODO: Create a train/test split (Hint: use train_test_split from sklearn)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [16]:
# Save the processed data to CSV files
import pandas as pd

X_train_scaled_df = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled_df  = pd.DataFrame(X_test_scaled, columns=X_test.columns)

X_train_scaled_df.to_csv("X_train_scaled.csv", index=False)
X_test_scaled_df.to_csv("X_test_scaled.csv", index=False)

y_train.to_csv("y_train.csv", index=False, header=["Loan Status"])
y_test.to_csv("y_test.csv", index=False, header=["Loan Status"])