# Python, NumPy, and Pandas

This notebook is designed for students who may be brand‑new to Python. We go **slowly** and explain **why** things work, not just **how**.

**How to use this notebook**
- Read the notes in each section.
- Run the examples.
- Complete the **TODO** blocks. They’re short practices to build your muscle memory.
- If you get stuck, read the example right above the TODO again.

> Tip: You can run a cell with **Shift + Enter** in Jupyter.

## Table of Contents
1. Python Basics: Variables, Types, Printing, Input, Comments
2. Numbers, Strings, Booleans, `None`
3. Collections: Lists, Tuples, Sets, Dicts
4. Control Flow: `if`, `for`, `while`, `break`, `continue`, ternary
5. Functions: `def`, parameters, return values, docstrings, type hints
6. Modules & Imports: `import`, `from ... import ...`, `as`
7. Errors & Exceptions: try/except, raising errors, assertions
8. NumPy Essentials: arrays, dtypes, shapes, indexing, slicing, broadcasting, masking
9. Random, Aggregations & Stats: `np.random`, `np.mean`, `np.std`, etc.
10. Pandas Essentials: Series & DataFrame, reading CSV, inspecting, selecting, filtering
11. Handling Missing Data, Dtypes, Dates, String Ops
**12. Advanced Data Cleaning & Standardization** *(NEW)*
**13. Text Processing & Regular Expressions** *(NEW)*
**14. Data Auditing & Quality Checks** *(NEW)*
**15. Categorical Encoding for Machine Learning** *(NEW)*
16. GroupBy, Aggregation, Sorting, `value_counts`
17. Merging/Joining DataFrames
18. Exporting, Reproducibility & Project Tips

**NEW SECTIONS** specifically cover all the skills needed for your loan risk prediction project!

Each section ends with **TODO** practice.

## 1) Python Basics

**Concepts**  
- **Variables** store values: `x = 5`  
- **Names**: letters, digits, underscores; **cannot** start with a digit. Case‑sensitive (`score` vs `Score`).  
- **Comments**: start with `#` and are ignored by Python.  
- **Printing**: `print(...)` displays values.  
- **Input** (optional here): `input()` reads user text (we rarely use it in data science notebooks).

**Pro tip:** In notebooks, the **last expression** in a cell will display automatically. Use `print()` when you want explicit output anywhere.

In [4]:
# Examples
x = 5        # integer
y = 2.5      # float
name = "Ray" # string
is_ok = True # boolean

print("x:", x, "y:", y, "name:", name, "is_ok:", is_ok)

# The last line in a cell is echoed if it's an expression:
x + y

x: 5 y: 2.5 name: Ray is_ok: True

7.5

### ✅ TODO 1 — Variables & Printing
1. Create variables: `a` (int), `b` (float), `msg` (string), `flag` (bool).
2. Print them in a single line like: `a=..., b=..., msg=..., flag=...`.
3. Try changing values and running again.

In [5]:
# TODO 1 — Your code here
a = 10
b = 20
msg = "hi"
flag = False

print("a =", a, "b =", b, "msg =", msg, "flag =", flag),

a = 10 b = 20 msg = hi flag = False

(None,)

## 2) Numbers, Strings, Booleans, and `None`

- **int**: whole numbers, e.g., `42`
- **float**: decimals, e.g., `3.14`
- **bool**: `True` or `False`
- **None**: "empty" or "no value yet" placeholder

**Common string operations**  
- Concatenate: `"Hello " + "World"`  
- f-string (preferred): `f"Hello {name}"`  
- Length: `len("abc")`  
- Methods: `"loan".upper()`, `" LOAN ".strip()`, `"loan-risk".replace("-", " ")`

In [8]:
# Examples
pi = 3.14159
count = 12
statement = f"We have {count} samples and PI ~ {pi:.2f}"
upper = "loan".upper()
repl = "loan-risk".replace("-", " ")
length = len("default")

print(statement)
print("upper:", upper, "| repl:", repl, "| length:", length)

nothing = None
print("nothing is", nothing)

We have 12 samples and PI ~ 3.14
upper: LOAN | repl: loan risk | length: 7
nothing is None

### ✅ TODO 2 — Strings & Numbers
1. Make a string with your name and favorite number, using an **f-string**.
2. Use `.upper()` and `.replace()` on any string you create.
3. Create a variable `mystery = None` and print it.

In [9]:
# TODO 2 — Your code here
name = "Sadie"
fav_num = "3"
upper = "Sadie".upper()
repl = "Sadie".replace("S", "Z")
statement = f"Name: {name} | Favorite Number: {fav_num}"
print(statement)
print(upper)
print(repl)

Name: Sadie | Favorite Number: 3
SADIE
Zadie

## 3) Collections: Lists, Tuples, Sets, Dicts

- **List `[]`**: ordered, changeable collection. Great general container.  
  - Indexing: `nums[0]`, slicing: `nums[1:3]`, append: `nums.append(10)`
- **Tuple `()`**: ordered, **immutable** (can't change). Useful for "fixed packets" of data.
- **Set `{}`**: **unique**, unordered elements; fast membership tests, set operations.
- **Dict `{key: value}`**: mapping from keys to values. Keys usually strings.

Why care? You’ll use **lists** and **dicts** constantly when massaging data **before** turning it into tables.

In [17]:
# Examples
nums = [3, 1, 4]
nums.append(1)
print("list nums:", nums, "| slice nums[1:3]:", nums[1:3])

point = (10, 20)  # tuple
print("tuple point:", point)

unique = {1, 1, 2, 3}
print("set unique:", unique, "| 2 in unique?", 2 in unique)

row = {"Loan ID": 123, "Amount": 5000, "Status": "Current"}
print("dict row:", row, "| keys:", list(row.keys()))

list nums: [3, 1, 4, 1] | slice nums[1:3]: [1, 4]
tuple point: (10, 20)
set unique: {1, 2, 3} | 2 in unique? True
dict row: {'Loan ID': 123, 'Amount': 5000, 'Status': 'Current'} | keys: ['Loan ID', 'Amount', 'Status']

### ✅ TODO 3 — Practice Collections
1. Make a list of three loan amounts. Append one more amount.
2. Create a set from that list (notice duplicates vanish).
3. Create a dict with keys: `"Customer ID"`, `"Term"`, `"Home Ownership"` and fill in any values.

In [18]:
# TODO 3 — Your code here

loans = [10, 20, 30]
loans.append(40)
print(loans)

loanSet = {10, 20, 30, 20}
print(loanSet)

data = {"Customer ID": 123, "Term" : 2, "Home Ownership": True}
print(data)

[10, 20, 30, 40]
{10, 20, 30}
{'Customer ID': 123, 'Term': 2, 'Home Ownership': True}

## 4) Control Flow: `if`, `for`, `while`, `break`, `continue`, ternary

- `if/elif/else` chooses a path.
- `for` loops across items.
- `while` repeats while a condition is true.
- `break` exits a loop early; `continue` skips to next iteration.
- Ternary: `x = A if condition else B` (compact if/else for expressions).

In [1]:
# Examples
score = 72
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
else:
    grade = "D"
print("grade:", grade)

# for loop
total = 0
for n in [1, 2, 3]:
    total += n
print("total:", total)

# while with break
i = 0
while True:
    i += 1
    if i == 3:
        break
print("i after loop:", i)

# ternary
risk = "high" if score < 70 else "low"
print("risk:", risk)

grade: C
total: 6
i after loop: 3
risk: low

### ✅ TODO 4 — Loops & Conditions
1. Given `amounts = [500, 1200, 3000, 250]`, make a new list containing only amounts ≥ 500 using a `for` loop and `if`.
2. Compute the sum of the filtered list.
3. Use a ternary expression to set `flag = "big"` if the sum ≥ 2000 else `"small"`.

In [2]:
# TODO 4 — Your code here
amounts = [500, 1200, 3000, 250]
new_list = []
sum = 0
for a in amounts:
    if a >= 500:
        new_list.append(a)
        sum += a

print(new_list)

size = "big" if sum >= 2000 else "small"
print(size)

[500, 1200, 3000]
big

## 5) Functions

Why write functions?
- Reuse logic, reduce repetition, write tests, and make your code readable.

Key pieces:
- `def name(params):` defines a function.
- **Docstring** `"""Describe what it does."""` at top of function is helpful.
- **Type hints** (optional but recommended): `def add(a: int, b: int) -> int:`

In [3]:
def add(a: float, b: float) -> float:
    """Return the sum of a and b."""
    return a + b

print(add(1.5, 2.5))

4.0

### ✅ TODO 5 — Write a Function
Write a function `is_default_risk(income, debts)` that returns `True` if `debts > income * 0.4`, else `False`.  
Add a short docstring and type hints.

In [6]:
# TODO 5 — Your code here
def is_default_risk(income: float, debts: float) -> bool:
    """Returns True if debts > income * 0.4"""
    return debts > income * 0.4

print(is_default_risk(100000, 50000))

True

## 6) Modules & Imports

- `import math`
- `from math import sqrt`
- `import numpy as np` (gives a **short alias** so you type less)

> In our project, we’ll often use: `import numpy as np` and `import pandas as pd`

In [1]:
import math
from math import sqrt
print("pi:", math.pi, "| sqrt(9):", sqrt(9))

pi: 3.141592653589793 | sqrt(9): 3.0

### ✅ TODO 6 — Try Imports
1. Import the `statistics` module.
2. Use `statistics.mean([1,2,3,4])`.

In [2]:
# TODO 6 — Your code here
import statistics as stats
print(stats.mean([1,2,3,4]))

2.5

## 7) Errors & Exceptions

- Errors stop execution. Use `try/except` to handle.
- `raise ValueError("message")` to signal problems in your own code.
- `assert condition, "message"` to catch unexpected states during development.

In [9]:
def safe_divide(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        return float("inf")

print("10/2 =", safe_divide(10,2))
print("10/0 =", safe_divide(10,0))

10/2 = 5.0
10/0 = inf

### ✅ TODO 7 — Your Turn
Write `sqrt_nonneg(x)` that returns `math.sqrt(x)` but **raises** a `ValueError` if `x < 0`.

In [10]:
# TODO 7 — Your code here
def sqrt_nonneg(x):
    try:
        return math.sqrt(x)
    except ValueError:
        return float("inf")
    
print(sqrt_nonneg(16))
print(sqrt_nonneg(-4))

4.0
inf

## 8) NumPy Essentials

**What/Why:** NumPy provides fast, memory‑efficient **arrays** and mathematical operations.  
We use NumPy for:
- numeric arrays and vectorized math
- broadcasting (do math across arrays of different shapes)
- masking & boolean indexing (filtering)

**Core ideas**
- Create arrays: `np.array([...])`, `np.arange`, `np.linspace`
- Shape: `arr.shape`, data type: `arr.dtype`
- Indexing/slicing: `arr[0]`, `arr[1:3]`, multi‑dim: `arr[rows, cols]`
- Broadcasting: add arrays of compatible shapes automatically
- Masking: boolean arrays to filter values

In [2]:
import numpy as np

arr = np.array([1, 2, 3], dtype=np.int64)
print("arr:", arr, "| shape:", arr.shape, "| dtype:", arr.dtype)

big = np.arange(0, 10)  # 0..9
print("big:", big)
print("slice big[2:7]:", big[2:7])

# Broadcasting
a = np.array([1, 2, 3])
b = 10
print("a + b:", a + b)

# Masking
mask = a > 1
print("mask:", mask, "| a[mask]:", a[mask])

arr: [1 2 3] | shape: (3,) | dtype: int64
big: [0 1 2 3 4 5 6 7 8 9]
slice big[2:7]: [2 3 4 5 6]
a + b: [11 12 13]
mask: [False  True  True] | a[mask]: [2 3]

### ✅ TODO 8 — Arrays, Shapes, Masks
1. Create an array `vals = np.array([100, 250, 400, 50])`.
2. Create a mask for values ≥ 200 and print the filtered result.

In [3]:
# TODO 8 — Your code here
vals = np.array([100, 250, 400, 50])
mask = vals >= 200
print(mask)

[False  True  True False]

## 9) Random, Aggregations & Simple Stats

- Random: `np.random.default_rng(seed)` then use methods like `.normal`, `.integers`
- Aggregations: `np.sum`, `np.mean`, `np.median`, `np.std`, `np.min`, `np.max`

In [4]:
rng = np.random.default_rng(42)
samples = rng.normal(loc=0, scale=1, size=5)
print("samples:", samples)
print("mean:", np.mean(samples), "| std:", np.std(samples), "| min:", np.min(samples), "| max:", np.max(samples))

samples: [ 0.30471708 -1.03998411  0.7504512   0.94056472 -1.95103519]
mean: -0.1990572605884459 | std: 1.1163044177405164 | min: -1.9510351886538364 | max: 0.9405647163912139

### ✅ TODO 9 — Practice Random + Stats
1. Create 100 random integers between 300 and 850 (inclusive of 300, exclusive of 851).  
2. Compute mean and standard deviation.

In [6]:
# TODO 9 — Your code here
rng = np.random.default_rng(42)
nums = rng.integers(300, 851, size=100)
print(np.mean(nums))
print(np.std(nums))

589.8
149.52257354660534

## 10) Pandas Essentials

Pandas gives you **Series** (1D) and **DataFrames** (2D tables).  
We use Pandas to load CSVs, clean data, select/filter rows, create new columns, summarize, and export.

**Core operations you'll use a lot:**
- Read: `pd.read_csv("file.csv")`
- Inspect: `.head()`, `.tail()`, `.shape`, `.info()`, `.describe()`
- Select columns: `df[["A","B"]]` or `df["A"]`
- Filter rows: `df[df["col"] > 0]`
- Create columns: `df["new"] = df["old"] * 2`
- Rename: `df.rename(columns={"Old":"New"}, inplace=True)`

In [8]:
import pandas as pd

# Tiny demo DataFrame
df = pd.DataFrame({
    "Loan ID":[1,2,3,4],
    "Amount":[500, 1200, 3000, 250],
    "Status":["Current", "Fully Paid", "Defaulted", "Current"]
})
display(df.head())
print("shape:", df.shape)
df.info()
display(df.describe())

   Loan ID  Amount      Status
0        1     500     Current
1        2    1200  Fully Paid
2        3    3000   Defaulted
3        4     250     Current

shape: (4, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Loan ID  4 non-null      int64
 1   Amount   4 non-null      int64
 2   Status   4 non-null      object
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

        Loan ID      Amount
count  4.000000     4.00000
mean   2.500000  1237.50000
std    1.290994  1241.89036
min    1.000000   250.00000
25%    1.750000   437.50000
50%    2.500000   850.00000
75%    3.250000  1650.00000
max    4.000000  3000.00000

### ✅ TODO 10 — Load & Inspect
1. Create a DataFrame with columns: `Customer ID`, `Income`, `Debt`, `Home Ownership` (4–5 rows).
2. Show `.head()`, `.shape`, `.info()`, `.describe()`.

In [ ]:
# TODO 10 — Your code here
df = pd.DataFrame({
    "Customer ID": [332, 333, 123, 321],
    "Income": [10000, 20000, 30000, 40000],
    "Debt": [1000, 2000, 3000, 4000],
    "Home Ownership": [False, False, True, True]
})
display(df.head())
print(df.shape)
df.info()
df.describe()

   Customer ID  Income  Debt  Home Ownership
0          332   10000  1000           False
1          333   20000  2000           False
2          123   30000  3000            True
3          321   40000  4000            True

(4, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer ID     4 non-null      int64
 1   Income          4 non-null      int64
 2   Debt            4 non-null      int64
 3   Home Ownership  4 non-null      bool
dtypes: bool(1), int64(3)
memory usage: 232.0 bytes

       Customer ID        Income         Debt
count     4.000000      4.000000     4.000000
mean    277.250000  25000.000000  2500.000000
std     102.976939  12909.944487  1290.994449
min     123.000000  10000.000000  1000.000000
25%     271.500000  17500.000000  1750.000000
50%     326.500000  25000.000000  2500.000000
75%     332.250000  32500.000000  3250.000000
max     333.000000  40000.000000  4000.000000

## 11) Handling Missing Data, Dtypes, Dates, and String Ops

- Missing values use `np.nan` (for numbers) or `pd.NA`.
- Detect missing: `df.isna()`, `df["col"].isna()`
- Drop missing: `df.dropna(subset=["col1","col2"])`
- Fill missing: `df["col"].fillna(value)`
- Dtypes: `df.dtypes`, `df["col"] = df["col"].astype("int64")`
- Dates: `pd.to_datetime(df["when"])`, then `.dt.year`, `.dt.month`, etc.
- Strings: `df["col"].str.upper()`, `.str.strip()`, `.str.contains("abc")`

In [16]:
df2 = pd.DataFrame({
    "Amount":[1000, None, 500, 2000],
    "Purpose":["debt_consolidation", "home", "credit card", "car"]
})
display(df2)

# Clean strings
df2["Purpose"] = df2["Purpose"].str.strip().str.replace(" ", "_")
# Handle missing
df2["Amount_filled"] = df2["Amount"].fillna(df2["Amount"].median())

display(df2)
print(df2.dtypes)

   Amount             Purpose
0  1000.0  debt_consolidation
1     NaN                home
2   500.0         credit card
3  2000.0                 car

   Amount             Purpose  Amount_filled
0  1000.0  debt_consolidation         1000.0
1     NaN                home         1000.0
2   500.0         credit_card          500.0
3  2000.0                 car         2000.0

Amount           float64
Purpose           object
Amount_filled    float64
dtype: object

### ✅ TODO 11 — Clean Columns
1. Create a DataFrame with a few missing numbers and messy strings (extra spaces/mixed case).
2. Use `.fillna()` with median for the numeric column and `.str.strip().str.lower()` for strings.
3. Convert a date column to datetime and print the `.dt.year`.

In [17]:
# TODO 11 — Your code here
df3 = pd.DataFrame({
    "Income": [10000, 20000, None, 40000],
    "Purpose":["debt_consolidation", "home", "credit card", "car"]
})
df3["Income_Filled"] = df3["Income"].fillna(df3["Income"].median())
df3["Purpose"] = df2["Purpose"].str.strip().str.replace(" ", "_")
display(df3)

    Income             Purpose  Income_Filled
0  10000.0  debt_consolidation        10000.0
1  20000.0                home        20000.0
2      NaN         credit_card        20000.0
3  40000.0                 car        40000.0

## 12) Advanced Data Cleaning & Standardization

**Real-world data is messy!** Before we can analyze it, we need to clean and standardize it.

**Key concepts covered:**
- Standardizing different types of missing values
- Using `.replace()` with dictionaries for categorical standardization
- Recording which columns had missing values (for feature engineering)
- Using `.mode()` for categorical imputation
- Checking and recoding target labels
- Grouping rare categories

> **Why this matters:** Clean, consistent data is essential for machine learning models to work properly!

### 12a) Standardizing Missing Values

Different systems write missing values in different ways: `'nan'`, `'NaN'`, `'NULL'`, empty strings `''`, or just spaces `' '`. 

**We want pandas to recognize ALL of these as missing values (`np.nan`).**

In [18]:
import pandas as pd
import numpy as np

# Example messy data with different types of missing values
messy_data = {
    'Income': [50000, 'nan', 75000, 'NULL'],
    'Status': ['Current', '', 'Paid', ' '],
    'Score': [700, 'NaN', 650, 800]
}
df_messy = pd.DataFrame(messy_data)
print("Before standardizing:")
print(df_messy)
print("\nMissing value count before:", df_messy.isnull().sum().sum())

# Standardize all types of missing values to np.nan
# inplace=True means the DataFrame is changed directly
df_messy.replace(['nan', 'NaN', 'NULL', '', ' '], np.nan, inplace=True)

print("\nAfter standardizing:")
print(df_messy)
print("\nMissing value count after:", df_messy.isnull().sum().sum())

Before standardizing:
  Income   Status Score
0  50000  Current   700
1    nan            NaN
2  75000     Paid   650
3   NULL            800

Missing value count before: 0

After standardizing:
    Income   Status  Score
0  50000.0  Current  700.0
1      NaN      NaN    NaN
2  75000.0     Paid  650.0
3      NaN      NaN  800.0

Missing value count after: 5

/var/folders/72/wyhp9lq90555g15fm2t545rh0000gn/T/ipykernel_7464/2071274496.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_messy.replace(['nan', 'NaN', 'NULL', '', ' '], np.nan, inplace=True)

**What does this do?**
- `.replace()` finds all the values in the list and replaces them with `np.nan`
- `np.nan` is the standard way pandas represents missing values
- Now we can use pandas functions like `.isnull()`, `.dropna()`, and `.fillna()` properly
- `inplace=True` means the changes are made directly to the DataFrame (no need to assign it back)

### ✅ TODO 12a — Practice Standardizing Missing Values
1. Create a DataFrame with some messy missing values (use 'N/A', 'missing', empty string)
2. Use `.replace()` to standardize them to `np.nan`
3. Check the before/after missing counts with `.isnull().sum()`

In [22]:
# TODO 12a — Your code here
mess = {
    'Nums': [10, 'N/A', 30, 50],
    'Strings': ['hello', '', 'world', ''],
    'MoreNums': [100, 200, 'missing', 1000]
}
df_mess = pd.DataFrame(mess)
print(df_mess)
print(df_mess.isnull().sum())
df_mess.replace(['N/A', '', 'missing'], np.nan, inplace=True)
print(df_mess)
print(df_mess.isnull().sum())

  Nums Strings MoreNums
0   10   hello      100
1  N/A              200
2   30   world  missing
3   50             1000
Nums        0
Strings     0
MoreNums    0
dtype: int64
   Nums Strings  MoreNums
0  10.0   hello     100.0
1   NaN     NaN     200.0
2  30.0   world       NaN
3  50.0     NaN    1000.0
Nums        1
Strings     2
MoreNums    1
dtype: int64

/var/folders/72/wyhp9lq90555g15fm2t545rh0000gn/T/ipykernel_7464/2163746970.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_mess.replace(['N/A', '', 'missing'], np.nan, inplace=True)

### 12b) Using Mode for Categorical Imputation

For **categorical columns** (like 'Loan Status', 'Term'), we usually fill missing values with the **mode** (most common value).

**Why?** The most common category is often a reasonable guess for missing values.

In [23]:
# Example data with missing categorical values
loan_data = {
    'Loan_Status': ['Current', 'Paid', 'Current', np.nan, 'Current', np.nan, 'Paid'],
    'Term': ['36 months', '60 months', '36 months', np.nan, '36 months', '60 months', np.nan],
    'Home_Ownership': ['Rent', 'Own', 'Rent', 'Rent', np.nan, 'Own', 'Rent']
}
df_loan = pd.DataFrame(loan_data)
print("Before filling missing values:")
print(df_loan)
print("\nMissing counts:")
print(df_loan.isnull().sum())

# Fill missing categorical values with the mode (most common value)
for col in ['Loan_Status', 'Term', 'Home_Ownership']:
    mode_value = df_loan[col].mode()[0]  # [0] gets the first mode in case of ties
    print(f"\nMode for {col}: {mode_value}")
    df_loan[col].fillna(mode_value, inplace=True)

print("\nAfter filling with mode:")
print(df_loan)
print("\nMissing counts after:")
print(df_loan.isnull().sum())

Before filling missing values:
  Loan_Status       Term Home_Ownership
0     Current  36 months           Rent
1        Paid  60 months            Own
2     Current  36 months           Rent
3         NaN        NaN           Rent
4     Current  36 months            NaN
5         NaN  60 months            Own
6        Paid        NaN           Rent

Missing counts:
Loan_Status       2
Term              2
Home_Ownership    1
dtype: int64

Mode for Loan_Status: Current

Mode for Term: 36 months

Mode for Home_Ownership: Rent

After filling with mode:
  Loan_Status       Term Home_Ownership
0     Current  36 months           Rent
1        Paid  60 months            Own
2     Current  36 months           Rent
3     Current  36 months           Rent
4     Current  36 months           Rent
5     Current  60 months            Own
6        Paid  36 months           Rent

Missing counts after:
Loan_Status       0
Term              0
Home_Ownership    0
dtype: int64

/var/folders/72/wyhp9lq90555g15fm2t545rh0000gn/T/ipykernel_7464/3888446319.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_loan[col].fillna(mode_value, inplace=True)

**What does this do?**
- `.mode()` finds the most common value(s) in a column
- `.mode()[0]` gets the first mode (in case there are ties)
- `.fillna(value, inplace=True)` replaces missing values with the specified value
- The `for` loop applies this to multiple columns at once

### ✅ TODO 12b — Practice Mode Imputation
1. Create a DataFrame with categorical columns that have some missing values
2. Find the mode for each categorical column using `.mode()`
3. Fill the missing values with the mode
4. Verify no missing values remain

In [ ]:
# TODO 12b — Your code here

### 12c) Recording Missingness (Feature Engineering)

Sometimes, **the fact that a value was missing** can be useful information for prediction!

**Example:** If someone didn't provide their credit score, that itself might indicate higher risk.

In [ ]:
# Example: Create missingness indicators before filling missing values
finance_data = {
    'Credit_Score': [720, np.nan, 650, 800, np.nan, 690],
    'Annual_Income': [50000, 60000, np.nan, 75000, 45000, np.nan],
    'Loan_Amount': [10000, 15000, 12000, np.nan, 8000, 20000]
}
df_finance = pd.DataFrame(finance_data)
print("Original data:")
print(df_finance)

# Create missingness indicator columns BEFORE filling missing values
df_finance['Credit_Score_missing'] = df_finance['Credit_Score'].isnull()
df_finance['Annual_Income_missing'] = df_finance['Annual_Income'].isnull()
df_finance['Loan_Amount_missing'] = df_finance['Loan_Amount'].isnull()

print("\nWith missingness indicators:")
print(df_finance)

# Now we can fill the original columns
df_finance['Credit_Score'].fillna(df_finance['Credit_Score'].median(), inplace=True)
df_finance['Annual_Income'].fillna(df_finance['Annual_Income'].median(), inplace=True)
df_finance['Loan_Amount'].fillna(0, inplace=True)

print("\nAfter filling missing values (but keeping missingness indicators):")
print(df_finance)

**What does this do?**
- `.isnull()` returns `True` for missing values, `False` otherwise
- We create new boolean columns that record which values were originally missing
- These "missingness indicators" can be useful features for machine learning
- We do this BEFORE filling missing values, so we don't lose the information

### ✅ TODO 12c — Practice Recording Missingness
1. Create a DataFrame with missing values in 2-3 columns
2. Create missingness indicator columns for each column with missing data
3. Fill the original missing values with appropriate strategies
4. Verify that your missingness indicators correctly show where data was originally missing

In [ ]:
# TODO 12c — Your code here

## 13) Text Processing & Regular Expressions

**Real-world data often has numbers hidden inside text.** For example, '10+ years', '2-5 years', '$1,500'.

**Regular expressions (regex)** are powerful patterns that help us find and extract specific parts of text.

**Key concepts:**
- Using `re.findall()` to extract numbers from text
- Using `pd.cut()` to bin numeric data into categories
- Using `.replace()` with dictionaries to standardize categories

### 13a) Extracting Numbers from Text

Sometimes columns have numbers mixed with text. We can use **regular expressions** to pull out just the numbers.

In [ ]:
import re
import pandas as pd

# Function to extract the first number from a string
def extract_years(text):
    """
    Extract the first number from a string.
    Returns None if no number is found.
    """
    text = str(text)  # Convert to string in case it's not already
    matches = re.findall(r'\d+', text)  # Find all groups of digits
    if matches:
        return int(matches[0])  # Return the first number found
    return None  # Return None if no number found

# Example data with text containing numbers
job_data = {
    'Years_in_job': ['10+ years', '2-5 years', '< 1 year', '5-10 years', '1 year', 'n/a']
}
df_jobs = pd.DataFrame(job_data)
print("Original text data:")
print(df_jobs)

# Apply the function to extract numbers
df_jobs['Years_numeric'] = df_jobs['Years_in_job'].apply(extract_years)

print("\nAfter extracting numbers:")
print(df_jobs)

# Test the function with individual examples
print("\nTesting the function:")
test_strings = ['10+ years', '< 1 year', 'no experience', '2.5 years']
for test in test_strings:
    result = extract_years(test)
    print(f"'{test}' -> {result}")

**What does this do?**
- `re.findall(r'\d+', text)` finds all sequences of digits in the text
  - `\d` means "any digit" (0-9)
  - `+` means "one or more" of the previous pattern
  - So `\d+` means "one or more digits in a row"
- `r'...'` is a "raw string" - it prevents Python from interpreting backslashes specially
- `.apply()` runs our function on every value in the column
- `int(matches[0])` converts the first match from text to a number

### ✅ TODO 13a — Practice Text Extraction
1. Create a column with salary text like '$50,000', '$75K', '$100000'
2. Write a function to extract just the numbers (hint: `re.findall(r'\d+', text)` finds all number groups)
3. Apply your function to create a numeric salary column
4. Test your function on a few example strings to make sure it works

In [ ]:
# TODO 13a — Your code here

### 13b) Binning Numeric Data into Categories

After extracting numbers, we often want to **group them into ranges (bins)**. This makes the data easier to work with and can improve model performance.

**`pd.cut()`** is perfect for this!

In [ ]:
# Continue with our job years data
print("Numeric years before binning:")
print(df_jobs['Years_numeric'].value_counts().sort_index())

# Define bins and labels
bins = [0, 2, 5, 10, float('inf')]  # 0-2, 2-5, 5-10, 10+
labels = ['0-2', '2-5', '5-10', '10+']

# Create binned categories
# right=False means the bin includes the left edge but not the right
# So [0, 2) means 0 ≤ value < 2
df_jobs['Years_binned'] = pd.cut(df_jobs['Years_numeric'], 
                                bins=bins, 
                                labels=labels, 
                                right=False)

print("\nAfter binning:")
print(df_jobs)
print("\nBinned categories count:")
print(df_jobs['Years_binned'].value_counts())

**What does this do?**
- `pd.cut()` divides numeric data into bins (ranges)
- `bins=[0, 2, 5, 10, float('inf')]` creates 4 ranges:
  - [0, 2): 0 to just under 2
  - [2, 5): 2 to just under 5  
  - [5, 10): 5 to just under 10
  - [10, ∞): 10 and above
- `labels` gives nice names to each bin
- `right=False` means bins include the left edge, not the right
- Missing values (`NaN`) remain as missing in the binned result

### ✅ TODO 13b — Practice Binning
1. Create a column with credit scores (numbers between 300-850)
2. Use `pd.cut()` to bin them into categories like:
   - 'Poor' (300-579)
   - 'Fair' (580-669) 
   - 'Good' (670-739)
   - 'Excellent' (740-850)
3. Print the value counts for your binned categories

In [ ]:
# TODO 13b — Your code here

### 13c) Standardizing Categories with Dictionary Mapping

Real data often has the **same category written in different ways**. For example:
- 'Home Improvements' vs 'home improvements' vs 'Home Renovation'
- 'Debt Consolidation' vs 'debt_consolidation'

We can use `.replace()` with a **dictionary** to standardize these.

In [ ]:
# Example data with inconsistent categories
purpose_data = {
    'Purpose': ['Home Improvements', 'debt_consolidation', 'Buy House', 'home improvements',
               'Business Loan', 'Buy a Car', 'debt consolidation', 'wedding', 'VACATION',
               'Educational Expenses', 'other', 'major_purchase']
}
df_purpose = pd.DataFrame(purpose_data)
print("Before standardizing:")
print(df_purpose['Purpose'].value_counts())

# Create a mapping dictionary to standardize categories
purpose_mapping = {
    'Home Improvements': 'Home Renovation / Improvement',
    'home improvements': 'Home Renovation / Improvement',
    'debt_consolidation': 'Debt Consolidation',
    'debt consolidation': 'Debt Consolidation',
    'Buy House': 'Home Purchase / Mortgage',
    'Business Loan': 'Business / Startup Capital',
    'Buy a Car': 'Car / Vehicle Purchase',
    'wedding': 'Wedding Expenses',
    'VACATION': 'Vacation / Travel',
    'Educational Expenses': 'Education / Tuition Fees',
    'other': 'Other / Miscellaneous',
    'major_purchase': 'Business / Startup Capital'
}

# Apply the mapping
df_purpose['Purpose_standardized'] = df_purpose['Purpose'].replace(purpose_mapping)

print("\nAfter standardizing:")
print(df_purpose)
print("\nStandardized categories count:")
print(df_purpose['Purpose_standardized'].value_counts())

**What does this do?**
- `.replace()` with a dictionary maps old values to new values
- Any value not in the dictionary stays unchanged
- This helps us group similar categories together
- Makes the data more consistent for analysis and modeling

### ✅ TODO 13c — Practice Category Standardization
1. Create a DataFrame with a categorical column that has inconsistent values (like different ways to write the same category)
2. Create a mapping dictionary to standardize them
3. Use `.replace()` to apply your mapping
4. Compare the value counts before and after to see the improvement

In [ ]:
# TODO 13c — Your code here

## 14) Data Auditing & Quality Checks

Before building models, we need to **audit our data** to make sure everything looks correct.

**Key concepts:**
- Using `.unique()` and `.value_counts()` to examine categories
- Mapping target labels to 0/1 for binary classification
- Grouping rare categories into 'Other'
- Checking for outliers and invalid values
- Using `.clip()` to handle extreme values

### 14a) Auditing Categories with .unique() and .value_counts()

Always check what categories you actually have in your data - you might find surprises!

In [ ]:
# Example loan data with target labels
loan_data = {
    'Loan_Status': ['Fully Paid', 'Charged Off', 'fully paid', 'Default', 
                   'Fully Paid', 'Current', 'charged off', 'Fully Paid'],
    'Risk_Level': ['Low', 'High', 'Medium', 'low', 'HIGH', 'medium', 'Low', 'High']
}
df_audit = pd.DataFrame(loan_data)

# Check all unique values in each column
print("Loan_Status unique values:")
print(df_audit['Loan_Status'].unique())
print("\nLoan_Status value counts:")
print(df_audit['Loan_Status'].value_counts())

print("\nRisk_Level unique values:")
print(df_audit['Risk_Level'].unique())
print("\nRisk_Level value counts:")
print(df_audit['Risk_Level'].value_counts())

**What we found:**
- `.unique()` shows all different values (including case differences)
- `.value_counts()` shows how many times each value appears
- We can spot inconsistencies like 'Fully Paid' vs 'fully paid'
- We can see if there are unexpected categories like 'Current'

### 14b) Mapping Target Labels to 0/1

For **binary classification**, we need our target variable to be 0 (good) or 1 (bad).

In [ ]:
# First, let's standardize the case issues
df_audit['Loan_Status'] = df_audit['Loan_Status'].str.title()  # Convert to Title Case
df_audit['Loan_Status'] = df_audit['Loan_Status'].replace({
    'Charged Off': 'Charged Off',  # Already correct
    'Default': 'Charged Off'       # Group similar bad outcomes
})

print("After standardizing cases:")
print(df_audit['Loan_Status'].value_counts())

# Map to 0 (good) and 1 (bad) for binary classification
# 0 = loan was paid back (good outcome)
# 1 = loan defaulted/charged off (bad outcome)
target_mapping = {
    'Fully Paid': 0,     # Good outcome
    'Charged Off': 1,    # Bad outcome
    'Current': 0         # Assume current loans are good for now
}

df_audit['Target'] = df_audit['Loan_Status'].map(target_mapping)

print("\nAfter mapping to 0/1:")
print(df_audit[['Loan_Status', 'Target']])
print("\nTarget distribution:")
print(df_audit['Target'].value_counts())

# Check if any values weren't mapped (would be NaN)
unmapped = df_audit['Target'].isnull().sum()
print(f"\nUnmapped values: {unmapped}")

**What does this do?**
- `.str.title()` converts text to Title Case (fixes 'fully paid' -> 'Fully Paid')
- `.map()` converts each value using the dictionary
- Values not in the dictionary become `NaN` - this helps us catch unmapped categories
- We check for unmapped values to make sure we didn't miss anything

### ✅ TODO 14a-b — Practice Auditing and Target Mapping
1. Create a DataFrame with a target column that has mixed case and multiple ways to express the same outcome
2. Use `.unique()` and `.value_counts()` to examine the categories
3. Standardize the categories and map them to 0 (good) and 1 (bad)
4. Check that no values were left unmapped

In [ ]:
# TODO 14a-b — Your code here

### 14c) Grouping Rare Categories

Categories that appear very few times can cause problems in modeling. We can group them into 'Other'.

In [ ]:
# Example data with some rare categories
purpose_data = {
    'Purpose': ['Debt Consolidation', 'Home Purchase', 'Car Purchase', 'Wedding',
               'Debt Consolidation', 'Vacation', 'Home Purchase', 'Education', 
               'Medical', 'Debt Consolidation', 'Wedding', 'Renewable Energy',
               'Moving', 'Home Purchase', 'Car Purchase', 'Business']
}
df_rare = pd.DataFrame(purpose_data)

print("Before grouping rare categories:")
counts = df_rare['Purpose'].value_counts()
print(counts)

# Find categories that appear less than 2 times
rare_threshold = 2
rare_categories = counts[counts < rare_threshold].index
print(f"\nRare categories (< {rare_threshold} occurrences):")
print(list(rare_categories))

# Replace rare categories with 'Other'
df_rare['Purpose_grouped'] = df_rare['Purpose'].replace(
    dict.fromkeys(rare_categories, 'Other')
)

print("\nAfter grouping rare categories:")
print(df_rare['Purpose_grouped'].value_counts())

**What does this do?**
- `counts[counts < rare_threshold]` finds categories below the threshold
- `.index` gets the names of those rare categories
- `dict.fromkeys(rare_categories, 'Other')` creates a mapping dictionary
- All rare categories get mapped to 'Other'

### 14d) Checking for Outliers and Using .clip()

Extreme values can hurt model performance. We can use `.clip()` to limit values to reasonable ranges.

In [ ]:
# Example data with some extreme values
finance_data = {
    'Credit_Score': [720, 850, 300, 950, 400, -50, 0, 800, 1000, 650],
    'Annual_Income': [50000, 75000, 200000, -10000, 0, 45000, 1000000, 60000, 55000, 70000]
}
df_outliers = pd.DataFrame(finance_data)

print("Original data with outliers:")
print(df_outliers.describe())

# Credit scores should be between 300 and 850
df_outliers['Credit_Score_clipped'] = df_outliers['Credit_Score'].clip(lower=300, upper=850)

# Annual income should be non-negative and let's cap at 500,000
df_outliers['Annual_Income_clipped'] = df_outliers['Annual_Income'].clip(lower=0, upper=500000)

print("\nAfter clipping:")
print(df_outliers[['Credit_Score', 'Credit_Score_clipped', 'Annual_Income', 'Annual_Income_clipped']])

print("\nClipped data statistics:")
print(df_outliers[['Credit_Score_clipped', 'Annual_Income_clipped']].describe())

**What does this do?**
- `.clip(lower=X, upper=Y)` limits values to the range [X, Y]
- Values below X become X
- Values above Y become Y
- Values in the range stay unchanged
- This prevents extreme outliers from skewing your model

### ✅ TODO 14c-d — Practice Rare Categories and Outliers
1. Create a DataFrame with:
   - A categorical column with some rare categories (appearing only once)
   - A numeric column with some outliers (very high or negative values)
2. Group rare categories into 'Other' using the threshold approach
3. Use `.clip()` to limit the numeric column to a reasonable range
4. Compare before/after statistics to see the impact

In [ ]:
# TODO 14c-d — Your code here

## 15) Categorical Encoding for Machine Learning

**Machine learning models need numbers, not text.** We need to convert categorical variables (like 'Home', 'Rent', 'Own') into numbers.

**Different types of encoding:**
- **Label Encoding**: Each category gets a number (0, 1, 2, ...)
- **Ordinal Encoding**: For ordered categories (like '0-2 years', '2-5 years', '5+ years')
- **One-Hot Encoding**: Each category becomes its own binary column

**When to use which?**
- **Ordinal**: When categories have a natural order (low → medium → high)
- **One-Hot**: When categories have no natural order (red, blue, green)
- **Label**: Simple encoding, but be careful - the model might think higher numbers are "better"

In [ ]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, OneHotEncoder
import pandas as pd
import numpy as np

### 15a) Ordinal Encoding (For Ordered Categories)

Use this when your categories have a **natural order** that should be preserved.

In [ ]:
# Example data with ordered categories
job_data = {
    'Years_in_job': ['0-2', '2-5', '5-10', '10+', '0-2', '5-10', '2-5', '10+']
}
df_ordinal = pd.DataFrame(job_data)

print("Original ordered categories:")
print(df_ordinal['Years_in_job'].value_counts())

# Create ordinal encoder with explicit category order
# This preserves the logical order: 0-2 < 2-5 < 5-10 < 10+
ordinal_encoder = OrdinalEncoder(categories=[['0-2', '2-5', '5-10', '10+']])

# Fit and transform the data
# Note: we need to pass a 2D array, so we use [['column_name']]
encoded = ordinal_encoder.fit_transform(df_ordinal[['Years_in_job']])
df_ordinal['Years_in_job_encoded'] = encoded

print("\nAfter ordinal encoding:")
print(df_ordinal)

print("\nMapping (category -> number):")
categories = ordinal_encoder.categories_[0]
for i, category in enumerate(categories):
    print(f"'{category}' -> {i}")

**What does this do?**
- `OrdinalEncoder(categories=[[...]])` lets us specify the order of categories
- Each category gets a number: '0-2' → 0, '2-5' → 1, '5-10' → 2, '10+' → 3
- The model will understand that 3 > 2 > 1 > 0, preserving the order
- `.fit_transform()` learns the mapping and applies it in one step

### 15b) Label Encoding (Simple Category → Number)

Simple encoding where each category gets a unique number. Quick but be careful about order assumptions.

In [ ]:
# Example data with unordered categories
simple_data = {
    'Loan_Status': ['Current', 'Paid', 'Current', 'Default', 'Paid'],
    'Term': ['36 months', '60 months', '36 months', '36 months', '60 months'],
    'Home_Ownership': ['Rent', 'Own', 'Mortgage', 'Rent', 'Own']
}
df_label = pd.DataFrame(simple_data)

print("Original categories:")
print(df_label)

# Apply label encoding to multiple columns
label_encoder = LabelEncoder()
for col in ['Loan_Status', 'Term', 'Home_Ownership']:
    # Handle missing values by filling with 'Missing' first
    filled_col = df_label[col].fillna('Missing')
    df_label[f'{col}_encoded'] = label_encoder.fit_transform(filled_col)
    
    # Show the mapping
    print(f"\n{col} mapping:")
    unique_values = filled_col.unique()
    encoded_values = label_encoder.fit_transform(unique_values)
    for orig, enc in zip(unique_values, encoded_values):
        print(f"  '{orig}' -> {enc}")

print("\nFinal encoded data:")
print(df_label)

**What does this do?**
- `LabelEncoder()` assigns a unique number to each category
- The numbers are assigned alphabetically by default
- We handle missing values by filling with 'Missing' before encoding
- **Warning:** The model might interpret the numbers as having order (0 < 1 < 2), even when there isn't a natural order

### 15c) One-Hot Encoding (Each Category = New Column)

Creates a new binary column for each category. Best when categories have no natural order.

In [ ]:
# Example data for one-hot encoding
purpose_data = {
    'Purpose': ['Home Purchase', 'Car', 'Debt Consolidation', 'Education', 
               'Home Purchase', 'Car', np.nan, 'Debt Consolidation']
}
df_onehot = pd.DataFrame(purpose_data)

print("Original categories:")
print(df_onehot['Purpose'].value_counts(dropna=False))

# Create one-hot encoder
# sparse_output=False gives us a regular array (not a sparse matrix)
# drop='first' prevents the "dummy variable trap" (removes one category)
onehot_encoder = OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore')

# Handle missing values and encode
purpose_filled = df_onehot[['Purpose']].fillna('Missing')
encoded_array = onehot_encoder.fit_transform(purpose_filled)

# Create DataFrame with proper column names
feature_names = onehot_encoder.get_feature_names_out(['Purpose'])
encoded_df = pd.DataFrame(encoded_array, columns=feature_names, index=df_onehot.index)

print("\nOne-hot encoded columns:")
print(encoded_df)

# Combine with original data (dropping the original categorical column)
final_df = pd.concat([df_onehot.drop('Purpose', axis=1), encoded_df], axis=1)
print("\nFinal combined data:")
print(final_df)

**What does this do?**
- `OneHotEncoder` creates a binary column for each category
- `drop='first'` removes one column to prevent multicollinearity (dummy variable trap)
- `sparse_output=False` gives us a regular array instead of a sparse matrix
- `handle_unknown='ignore'` won't crash if it sees new categories later
- Each row has exactly one '1' and the rest '0's (indicating which category it belongs to)
- We use `pd.concat()` to combine the encoded columns with the rest of the data

### ✅ TODO 15a-c — Practice All Encoding Types
1. **Ordinal Encoding**: Create a column with ordered categories (like education levels: 'High School' < 'Bachelor' < 'Master' < 'PhD'). Encode it preserving the order.

2. **Label Encoding**: Create 2-3 simple categorical columns and apply label encoding to each.

3. **One-Hot Encoding**: Create a column with unordered categories (like colors or cities) and apply one-hot encoding. Join the result back to your DataFrame.

4. **Compare**: Look at the different results and think about when you'd use each approach.

In [ ]:
# TODO 15a-c — Your code here

# 1. Ordinal encoding practice


# 2. Label encoding practice  


# 3. One-hot encoding practice


# 4. Compare and discuss

## 16) Exporting & Project Tips

- Save to CSV: `df.to_csv("clean.csv", index=False)`
- Reproducibility:
  - Keep a **requirements.txt**
  - Use a **virtual environment** (we recommend `pyenv` + `venv` in this project)
  - Seed randomness (e.g., `rng = np.random.default_rng(42)`)
- Good habits:
  - Add comments and short docstrings.
  - Write small, testable functions.
  - Prefer **clear** over **clever**.

### ✅ TODO 16 — Save
1. Save any DataFrame you made as `demo_output.csv` (no index).
2. Read it back and show its `.head()`.

In [ ]:
# TODO 16 — Your code here

---

## You made it! 🎉

Next up in this project: preprocessing and modeling.